
@{
    ViewBag.Title = "Index";
}

<br /><p>This is a basic MVC application with WebAPI.. I just need to spin up a Knockout ViewModel in TypeScript and get it working! :)</p>

<br /><br />

<div id="SpectrumAnalyser">
    <div>Title: <span data-bind="text: SpectrumGame().Title"></span></div>
    <div>Publisher: <span data-bind="text: SpectrumGame().Publisher"></span></div>
    <div>Genre: <span data-bind="text: SpectrumGame().Genre"></span></div>
    <div>ReleaseYear: <span data-bind="text: SpectrumGame().ReleaseYear"></span></div>
</div>

<div id="ArcadeMachine">
    <div class="container">
        <h1>Arcade machine simulation</h1>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label" for="GameNameTextbox">Game Name:</label>
                <input type="text" class="form-control" data-bind="value: gameName" />
            </div>

            <div>
                <p>The name of the game is <span data-bind="text: gameName"></span></p>
            </div>


        </div>
        <div class="col-md-4">
            <h4>
                Paid: £ <span id="total" data-bind="text: paid"></span>
                <br/><br/>
                <button class="btn btn-warning" onclick="machine.acceptCoin(new TwentyPenceCoin())">Insert twenty pence coin</button>
                <button class="btn btn-primary" onclick="machine.acceptCoin(new PoundCoin())">Insert pound coin</button>
            </h4>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/node_modules/knockout/build/output/knockout-latest.js"></script>
<script src="~/Scripts/ViewModels/Coin.js"></script>
<script src="~/Scripts/ViewModels/SpectrumAnalyserViewModel.js"></script>
<script src="~/Scripts/ViewModels/ArcadeMachineViewModel.js"></script>
<script src="~/Scripts/ViewModels/ArcadeMachineBootstrapper.js"></script>
